<div
  class="bg-red-500 text-white w-64 min-h-screen fixed md:static transition-transform duration-300 z-50"
  [ngClass]="{
    'translate-x-0': sidebarOpen,
    '-translate-x-full': !sidebarOpen && screenIsSmall
  }"
>
 <div class="p-4 font-bold text-xl text-white flex items-center gap-3">
 <i class="fas fa-table-cells-large"></i> Dashboard
</div>

<nav class="flex flex-col gap-4 p-4 text-white">
  <a routerLink="/dashboard/Home-Dashboard" class="hover:bg-red-600 p-2 rounded flex items-center gap-3">
    <i class="fas fa-house"></i> Home
  </a>
<!-- 
  <a routerLink="/dashboard/about" class="hover:bg-red-600 p-2 rounded flex items-center gap-3">
    <i class="fas fa-circle-info"></i> About Us
  </a> -->

  <a routerLink="/dashboard/donation" class="hover:bg-red-600 p-2 rounded flex items-center gap-3">
    <i class="fas fa-hand-holding-heart"></i> Donation
  </a>

  <a routerLink="/dashboard/expenses" class="hover:bg-red-600 p-2 rounded flex items-center gap-3">
    <i class="fas fa-chart-column"></i> Expenses
  </a>

  <a routerLink="/dashboard/expenses-request" class="hover:bg-red-600 p-2 rounded flex items-center gap-3">
    <i class="fas fa-code-pull-request"></i> Expenses Request
  </a> 
</nav>


</div>
