<header class="w-full bg-white border-b border-gray-200">
  <div class="max-w-[1400px] mx-auto px-2">
    <div class="flex items-center h-[80px]">

      <!-- Logo -->
      <div class="flex items-center gap-3">
        <div
          class="w-11 h-11 bg-gradient-to-br from-[#FF6B35]/70 to-[#D4AF37]/50 rounded-full bg-gold flex items-center justify-center
                 text-white text-2xl font-semibold">
          ॐ
        </div>

        <div>
          <h1 class="text-[23px] font-bold text-[#FF6B35] leading-tight">
            Muktai Temple
          </h1>
          <p class="text-[12px] text-gray-500">
            Muktainagar | Kothali | Pandharpur
          </p>
        </div>
      </div>

      <!-- Menu -->
      <nav
        class="hidden lg:flex items-center gap-6 text-[19px]
               font-medium text-gray-700 ml-8">
        <a
          class="px-5 py-[6px] border-10 bg-orange-500 text-white">
          Home
        </a>
        <a class="hover:text-templeOrange">About Us</a>
        <a class="hover:text-templeOrange">Daily Program</a>
        <a class="hover:text-templeOrange">Monthly Events</a>
        <a class="hover:text-templeOrange">Nearby Places</a>
        <a class="hover:text-templeOrange">Team</a>
        <a class="hover:text-templeOrange">Contact</a>
      </nav>

      <!-- Right -->
      <div class="flex items-center gap-2 ml-auto">
        <button
          class="px-4 py-[6px] text-[14px] font-medium
                 border border-templeOrange text-templeOrange
                 rounded-full hover:bg-templeOrange hover:text-white transition">
          Login
        </button>

        <span class="text-[14px] font-medium flex items-center gap-1">
          🌐 मराठी
        </span>
      </div>

    </div>
  </div>
</header>
