<div class="flex h-screen bg-gray-100 overflow-hidden">
  <!-- Sidebar -->
  <app-sidebar
    #sidebarRef
    [screenIsSmall]="screenIsSmall"
    [sidebarOpen]="sidebarOpen"
  ></app-sidebar>

  <!-- Main content -->
  <div class="flex-1 flex flex-col overflow-hidden">
    <!-- Top navbar -->
    <app-nav
      (toggleSidebar)="toggleSidebar()"
      #toggleBtnRef
    ></app-nav>

    <!-- Main scrollable content -->
    <main class="p-4 overflow-auto flex-1">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
