<div class="w-full max-w-6xl mx-auto mt-10 p-4 bg-white rounded shadow overflow-x-auto">
  <!-- Report Header -->
  <div class="flex flex-wrap items-center justify-between mb-4 space-y-2 sm:space-y-0 sm:space-x-4">
    <!-- Button Group -->
    <div class="flex flex-wrap gap-2">
      <button class="report-btn">{{ 'DONATION_REPORT.WEEKLY' | translate }}</button>
      <button class="report-btn">{{ 'DONATION_REPORT.MONTHLY' | translate }}</button>
      <button class="report-btn">{{ 'DONATION_REPORT.YEARLY' | translate }}</button>
    </div>
    <button class="report-btn" (click)="openAddDonorModal()">
      + {{ 'DONATION_REPORT.ADD_DONORS' | translate }}
    </button>
  </div>

  <!-- Table -->
  <div class="overflow-x-auto">
    <table class="min-w-full border border-gray-300 text-sm text-left">
      <thead class="bg-gray-100 text-gray-700 ">
        <tr>
          <th class="px-4 py-2 border">{{ 'DONATION_REPORT.DATE' | translate }}</th>
          <th class="px-4 py-2 border">{{ 'DONATION_REPORT.DONOR_NAME' | translate }}</th>
          <th class="px-4 py-2 border">{{ 'DONATION_REPORT.ADDRESS' | translate }}</th>
          <th class="px-4 py-2 border">{{ 'DONATION_REPORT.MOBILE_NO' | translate }}</th>
          <th class="px-4 py-2 border">{{ 'DONATION_REPORT.AMOUNT' | translate }}</th>
          <th class="px-4 py-2 border">{{ 'DONATION_REPORT.PAYMENT_METHOD' | translate }}</th>
          <th class="px-4 py-2 border">{{ 'DONATION_REPORT.AMOUNT_IN_WORDS' | translate }}</th>
           <th class="px-4 py-2 border">{{ 'DONATION_REPORT.ACTION' | translate }}</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donation of donationData" class="hover:bg-gray-50">
          <td class="px-4 py-2 border">{{ donation.date }}</td>
          <td class="px-4 py-2 border">{{ donation.donorName }}</td>
          <td class="px-4 py-2 border">{{ donation.address }}</td>
          <td class="px-4 py-2 border">{{ donation.mobileNo }}</td>
          <td class="px-4 py-2 border">{{ donation.amount }}</td>
          <td class="px-4 py-2 border">{{ donation.paymentMethod }}</td>
          <td class="px-4 py-2 border">{{ donation.amountInWords }}</td>
           <td class="px-4 py-2 border text-center">
                <button
                  class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600"
                  (click)="generatePDF(donation)"
                >
                  📄 PDF
                </button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
