<!-- Expense Header -->
<div class="flex justify-between items-center mb-6">
  <h2 class="text-2xl font-semibold text-orange-600">
    Expense Management
  </h2>

  <button routerLink="/dashboard/add-expense" class="flex items-center gap-2 bg-orange-500 hover:bg-orange-600
           text-white px-4 py-2 rounded-lg shadow transition">
    <span class="text-lg leading-none">+</span>
    Add Expense
  </button>
</div>

<div class="bg-white rounded-2xl shadow-sm border border-orange-100 p-4">
  <div class="overflow-x-auto">
    <table class="min-w-full border border-gray-200 text-sm rounded-lg overflow-hidden">
      <!-- Table Header -->
      <thead class="bg-gray-100 text-gray-600 font-semibold">
        <tr>
          <th class="px-4 py-3 border-b text-left">
            {{ 'EXPENSE_TABLE.TYPE' | translate }}
          </th>
          <th class="px-4 py-3 border-b text-left">
            {{ 'EXPENSE_TABLE.AMOUNT' | translate }}
          </th>
          <th class="px-4 py-3 border-b text-left">
            {{ 'EXPENSE_TABLE.STATUS' | translate }}
          </th>
          <th class="px-4 py-3 border-b text-left">
            {{ 'EXPENSE_TABLE.DATE' | translate }}
          </th>
           <th class="px-4 py-3 border-b text-left">
            {{ 'EXPENSE_TABLE.DELETE' | translate }}
          </th>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <tr *ngFor="let e of paginatedExpences" class="hover:bg-gray-50 transition">
          <!-- Type -->
          <td class="px-4 py-3 border-b font-medium text-gray-800">
            {{ e.category}}
          </td>

          <!-- Amount -->
          <td class="px-4 py-3 border-b font-semibold text-gray-900">
            ₹{{ e.amount }}
          </td>

          <!-- Status -->
          <td class="px-4 py-3 border-b">
             <span class="px-3 py-1 rounded-full text-xs font-medium" [ngClass]="
              e.status === 'pending'
                ? 'bg-orange-500 text-white'
                : 'bg-green-100 text-green-700'
            ">
             {{ e.status }}

            </span>
           
          </td>

          <!-- Date -->
          <td class="px-4 py-3 border-b text-gray-600">
            {{ e.expense_date | date:'mediumDate' }}
          </td>

          <td class="px-4 py-3 border-b text-gray-600">
               <!-- Delete Button -->
            <button class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded-md text-sm"
              (click)="deleteExpense(e.expense_id)">
              Delete
            </button>
          </td>

        </tr>
           <!-- Empty State -->
        <tr *ngIf="paginatedExpences.length === 0">
          <td colspan="5" class="text-center py-6 text-gray-500">
            please Select Temple to view the expense records.
          </td>
        </tr>
      </tbody>
    </table>
  </div>


   <!-- Pagination -->
  <div class="flex justify-between items-center mt-4 px-2">

    <!-- Page Info -->
    <div class="text-sm text-gray-600">
      Page {{ currentPage }} of {{ totalPages }}
    </div>

    <!-- Buttons -->
    <div class="flex gap-2">
      <button
        (click)="prevPage()"
        [disabled]="currentPage === 1"
        class="px-3 py-1 border rounded-md text-sm hover:bg-gray-100
               disabled:opacity-50 disabled:cursor-not-allowed">
        Previous
      </button>

      <button
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
        class="px-3 py-1 border rounded-md text-sm hover:bg-gray-100
               disabled:opacity-50 disabled:cursor-not-allowed">
        Next
      </button>
    </div>

  </div>

</div>