<!-- HERO -->
<section class="w-full bg-gradient-to-r from-[#FF6B35] to-[#D4AF37] py-20 text-center text-white">
    <div class=" mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-user w-16 h-16 text-white mx-auto mb-4"
            data-fg-dziv4="20.16:20.4748:/src/app/components/TeamPage.tsx:70:11:2677:54:e:User::::::0ls">
            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
        </svg></div>

    <h1 class="text-4xl md:text-5xl font-bold mb-2">
        {{ 'TEAM.HERO_TITLE' | translate }}
    </h1>

    <p class="text-lg opacity-90">
        {{ 'TEAM.HERO_SUBTITLE' | translate }}
    </p>
</section>

<!-- TEAM CARDS -->
<section class="bg-[#FFF8F1] py-20">
    <div class="max-w-7xl mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-10">

        <!-- PRESIDENT -->
        <div class="bg-white rounded-2xl p-8 text-center shadow hover:shadow-xl">
            <div
                class="w-16 h-16 mx-auto mb-5 rounded-full bg-gradient-to-br from-[#FF6B35] to-[#D4AF37] text-white flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-user w-10 h-10 text-white"
                    data-fg-dziv17="20.16:20.4748:/src/app/components/TeamPage.tsx:90:21:3664:41:e:User::::::0ls">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
            </div>

            <h3 class="text-xl font-semibold text-orange-600">
                {{ 'TEAM.MEMBERS.PRESIDENT.NAME' | translate }}
            </h3>

            <p class="text-[#D4AF37] text-sm font-medium">
                {{ 'TEAM.MEMBERS.PRESIDENT.ROLE' | translate }}
            </p>

            <p class="text-gray-600 text-sm my-4">
                {{ 'TEAM.MEMBERS.PRESIDENT.DESC' | translate }}
            </p>

            <!-- PHONE -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <path d="M22 16.92v3a2 2 0 0 1-2.18 2
         19.79 19.79 0 0 1-8.63-3.07
         19.5 19.5 0 0 1-6-6
         19.79 19.79 0 0 1-3.07-8.67
         A2 2 0 0 1 4.11 2h3
         a2 2 0 0 1 2 1.72
         12.84 12.84 0 0 0 .7 2.81
         a2 2 0 0 1-.45 2.11L8.09 9.91
         a16 16 0 0 0 6 6l1.27-1.27
         a2 2 0 0 1 2.11-.45
         12.84 12.84 0 0 0 2.81.7
         A2 2 0 0 1 22 16.92z" />
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.PRESIDENT.PHONE' | translate }}
                </span>
            </div>

            <!-- EMAIL -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.PRESIDENT.EMAIL' | translate }}
                </span>
            </div>

        </div>

        <!-- VICE PRESIDENT -->

        <div class="bg-white rounded-2xl p-8 text-center shadow hover:shadow-xl">
            <div
                class="w-16 h-16 mx-auto mb-5 rounded-full bg-gradient-to-br from-[#FF6B35] to-[#D4AF37] text-white flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-user w-10 h-10 text-white"
                    data-fg-dziv17="20.16:20.4748:/src/app/components/TeamPage.tsx:90:21:3664:41:e:User::::::0ls">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
            </div>

            <h3 class="text-xl font-semibold text-orange-600">
                {{ 'TEAM.MEMBERS.VICE_PRESIDENT.NAME' | translate }}
            </h3>

            <p class="text-[#D4AF37] text-sm font-medium">
                {{ 'TEAM.MEMBERS.VICE_PRESIDENT.ROLE' | translate }}
            </p>

            <p class="text-gray-600 text-sm my-4">
                {{ 'TEAM.MEMBERS.VICE_PRESIDENT.DESC' | translate }}
            </p>

            <!-- PHONE -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <path d="M22 16.92v3a2 2 0 0 1-2.18 2
         19.79 19.79 0 0 1-8.63-3.07
         19.5 19.5 0 0 1-6-6
         19.79 19.79 0 0 1-3.07-8.67
         A2 2 0 0 1 4.11 2h3
         a2 2 0 0 1 2 1.72
         12.84 12.84 0 0 0 .7 2.81
         a2 2 0 0 1-.45 2.11L8.09 9.91
         a16 16 0 0 0 6 6l1.27-1.27
         a2 2 0 0 1 2.11-.45
         12.84 12.84 0 0 0 2.81.7
         A2 2 0 0 1 22 16.92z" />
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.VICE_PRESIDENT.PHONE' | translate }}
                </span>
            </div>

            <!-- EMAIL -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.VICE_PRESIDENT.EMAIL' | translate }}
                </span>
            </div>

        </div>



        <!-- Treasurer -->
        <div class="bg-white rounded-2xl p-8 text-center shadow hover:shadow-xl">
            <div
                class="w-16 h-16 mx-auto mb-5 rounded-full bg-gradient-to-br from-[#FF6B35] to-[#D4AF37] text-white flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-user w-10 h-10 text-white"
                    data-fg-dziv17="20.16:20.4748:/src/app/components/TeamPage.tsx:90:21:3664:41:e:User::::::0ls">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
            </div>

            <h3 class="text-xl font-semibold text-orange-600">
                {{ 'TEAM.MEMBERS.TREASURER.NAME' | translate }}
            </h3>

            <p class="text-[#D4AF37] text-sm font-medium">
                {{ 'TEAM.MEMBERS.TREASURER.ROLE' | translate }}
            </p>

            <p class="text-gray-600 text-sm my-4">
                {{ 'TEAM.MEMBERS.TREASURER.DESC' | translate }}
            </p>

            <!-- PHONE -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <path d="M22 16.92v3a2 2 0 0 1-2.18 2
         19.79 19.79 0 0 1-8.63-3.07
         19.5 19.5 0 0 1-6-6
         19.79 19.79 0 0 1-3.07-8.67
         A2 2 0 0 1 4.11 2h3
         a2 2 0 0 1 2 1.72
         12.84 12.84 0 0 0 .7 2.81
         a2 2 0 0 1-.45 2.11L8.09 9.91
         a16 16 0 0 0 6 6l1.27-1.27
         a2 2 0 0 1 2.11-.45
         12.84 12.84 0 0 0 2.81.7
         A2 2 0 0 1 22 16.92z" />
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.TREASURER.PHONE' | translate }}
                </span>
            </div>

            <!-- EMAIL -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.TREASURER.EMAIL' | translate }}
                </span>
            </div>

        </div>

        <!-- Secretary -->

        <div class="bg-white rounded-2xl p-8 text-center shadow hover:shadow-xl">
            <div
                class="w-16 h-16 mx-auto mb-5 rounded-full bg-gradient-to-br from-[#FF6B35] to-[#D4AF37] text-white flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-user w-10 h-10 text-white"
                    data-fg-dziv17="20.16:20.4748:/src/app/components/TeamPage.tsx:90:21:3664:41:e:User::::::0ls">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
            </div>

            <h3 class="text-xl font-semibold text-orange-600">
                {{ 'TEAM.MEMBERS.MEMBER_4.NAME' | translate }}
            </h3>

            <p class="text-[#D4AF37] text-sm font-medium">
                {{ 'TEAM.MEMBERS.MEMBER_4.ROLE' | translate }}
            </p>

            <p class="text-gray-600 text-sm my-4">
                {{ 'TEAM.MEMBERS.MEMBER_4.DESC' | translate }}
            </p>

            <!-- PHONE -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <path d="M22 16.92v3a2 2 0 0 1-2.18 2
         19.79 19.79 0 0 1-8.63-3.07
         19.5 19.5 0 0 1-6-6
         19.79 19.79 0 0 1-3.07-8.67
         A2 2 0 0 1 4.11 2h3
         a2 2 0 0 1 2 1.72
         12.84 12.84 0 0 0 .7 2.81
         a2 2 0 0 1-.45 2.11L8.09 9.91
         a16 16 0 0 0 6 6l1.27-1.27
         a2 2 0 0 1 2.11-.45
         12.84 12.84 0 0 0 2.81.7
         A2 2 0 0 1 22 16.92z" />
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.MEMBER_4.PHONE' | translate }}
                </span>
            </div>

            <!-- EMAIL -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.MEMBER_4.EMAIL' | translate }}
                </span>
            </div>

        </div>

        <!-- Vice President -->

        <div class="bg-white rounded-2xl p-8 text-center shadow hover:shadow-xl">
            <div
                class="w-16 h-16 mx-auto mb-5 rounded-full bg-gradient-to-br from-[#FF6B35] to-[#D4AF37] text-white flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-user w-10 h-10 text-white"
                    data-fg-dziv17="20.16:20.4748:/src/app/components/TeamPage.tsx:90:21:3664:41:e:User::::::0ls">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
            </div>

            <h3 class="text-xl font-semibold text-orange-600">
                {{ 'TEAM.MEMBERS.MEMBER_5.NAME' | translate }}
            </h3>

            <p class="text-[#D4AF37] text-sm font-medium">
                {{ 'TEAM.MEMBERS.MEMBER_5.ROLE' | translate }}
            </p>

            <p class="text-gray-600 text-sm my-4">
                {{ 'TEAM.MEMBERS.MEMBER_5.DESC' | translate }}
            </p>

            <!-- PHONE -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <path d="M22 16.92v3a2 2 0 0 1-2.18 2
         19.79 19.79 0 0 1-8.63-3.07
         19.5 19.5 0 0 1-6-6
         19.79 19.79 0 0 1-3.07-8.67
         A2 2 0 0 1 4.11 2h3
         a2 2 0 0 1 2 1.72
         12.84 12.84 0 0 0 .7 2.81
         a2 2 0 0 1-.45 2.11L8.09 9.91
         a16 16 0 0 0 6 6l1.27-1.27
         a2 2 0 0 1 2.11-.45
         12.84 12.84 0 0 0 2.81.7
         A2 2 0 0 1 22 16.92z" />
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.MEMBER_5.PHONE' | translate }}
                </span>
            </div>

            <!-- EMAIL -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.MEMBER_5.EMAIL' | translate }}
                </span>
            </div>

        </div>
        <!-- Vice President -->


        <div class="bg-white rounded-2xl p-8 text-center shadow hover:shadow-xl">
            <div
                class="w-16 h-16 mx-auto mb-5 rounded-full bg-gradient-to-br from-[#FF6B35] to-[#D4AF37] text-white flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-user w-10 h-10 text-white"
                    data-fg-dziv17="20.16:20.4748:/src/app/components/TeamPage.tsx:90:21:3664:41:e:User::::::0ls">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
            </div>

            <h3 class="text-xl font-semibold text-orange-600">
                {{ 'TEAM.MEMBERS.MEMBER_6.NAME' | translate }}
            </h3>

            <p class="text-[#D4AF37] text-sm font-medium">
                {{ 'TEAM.MEMBERS.MEMBER_6.ROLE' | translate }}
            </p>

            <p class="text-gray-600 text-sm my-4">
                {{ 'TEAM.MEMBERS.MEMBER_6.DESC' | translate }}
            </p>

            <!-- PHONE -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <path d="M22 16.92v3a2 2 0 0 1-2.18 2
         19.79 19.79 0 0 1-8.63-3.07
         19.5 19.5 0 0 1-6-6
         19.79 19.79 0 0 1-3.07-8.67
         A2 2 0 0 1 4.11 2h3
         a2 2 0 0 1 2 1.72
         12.84 12.84 0 0 0 .7 2.81
         a2 2 0 0 1-.45 2.11L8.09 9.91
         a16 16 0 0 0 6 6l1.27-1.27
         a2 2 0 0 1 2.11-.45
         12.84 12.84 0 0 0 2.81.7
         A2 2 0 0 1 22 16.92z" />
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.MEMBER_6.PHONE' | translate }}
                </span>
            </div>

            <!-- EMAIL -->
            <div class="flex items-center justify-center gap-2
         text-sm text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 text-[#FF6B35]">
                    <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </svg>

                <span>
                    {{ 'TEAM.MEMBERS.MEMBER_6.EMAIL' | translate }}
                </span>
            </div>

        </div>
    </div>
</section>