/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}



body {
    font-family: 'Noto Sans Devanagari', 'Inter', system-ui, -apple-system, sans-serif;
    margin: 0;
  /* background: linear-gradient(to bottom, #fff7ed, #ffffff); */

}
